[2016-05-29 10:17] grburgess opened #1 "Displaying LaTeX names in tables"
The tables are very nice, but it would be a little easier on the eyes if the names of parameters and models were in LaTeX. I can add this functionality, but need to know where to look.

I think the idea would be to add a LaTeX name to the model and parameter objects and have the table call those for displaying.

Shall I do this? And if so, where to start?

[2016-05-31 19:55] giacomov opened #2 "Use CamelCase for functions"
We were using Camel_case for functions to distinguish them from other classes, but it looks like it is more confusing then helpful.

[2016-06-05 15:30] drJfunk opened #3 "parameter.free() not using property"
The `<>.free()` command is trying to access a bool and not using the property setter.

So, one has to manually set `<>.free = False`

[2016-06-09 07:12] giacomov commented on #3
I'm not sure I understand what you are saying with this. The proper way it should work is:

parameter.free = False

or equivalently:

parameter.fix = True

There isn't any free() or fix() method, so if you try to do free() you should get an error.

I've been unsure about whether to introduce free() and fix() methods instead, but in the end I think it makes sense that free is a property as are all

[2016-06-09 07:13] drJfunk commented on #3
I’m trying to free the inter calibration parameter. And when you do this it calls parameter.free() which results in an error because free is a bool.

And I’m doing this wrong?

+++++++++++++++++++++++++++++++
J Michael Burgess
+46 72-381 30 20
jmichaelburgess@gmail.com

[2016-06-13 16:23] giacomov opened #5 "Check in setup.py for Xspec libraries in LD_LIBRARY_PATH or DYLD_LIBRARY_PATH"
Need to check that the path to the libraries is also in LD_LIBRARY_PATH (linux) or DYLD_LIBRARY_PATH (osX) to avoid obscure failings when trying to import the xspec module.

[2016-06-22 17:11] drJfunk opened #7 "Custom models"
What is the procedure to add a custom model? If I write my own, how does astromodels import?

[2016-06-22 17:50] giacomov commented on #7
You just need to inherit from Function1D (if it's a 1d function), and remember to use the FunctionMeta as metaclass. The metaclass will register your class among the available models.

For example, let's implement a parabolic shape:

[code]

You can place this code in a notebook, in which case your function will be available only in that notebook. Or you can place it in a module anywhere in your P

[2016-06-22 17:56] drJfunk commented on #7
This is wonderful. Thank you.

/J. Michael

Sent my iPhone

[2016-06-23 13:14] #7 closed

[2016-06-23 13:19] drJfunk opened #8 "Proper access to units"
What is the method for converting units? I notice that parameters have a private _set_unit(x,y) member, but I generally do not like to touch something private.

Also, it seems assumed that y_units as differential photon fluxes. I this always the case?

[2016-06-23 18:22] giacomov commented on #8
This is how it's done at the moment (no need to use private members):

[code]

Maybe it's too cumbersome like this, so I'll add a property .as_quantity to make this easier.

The reason .value is not a Quantity itself is that astropy.Quantities are super slow (like up to 100x slower) when used in normal operations.

[2016-06-23 21:56] drJfunk opened #9 "Error when using unit energy argument to Band function"
When attempting pass a unit energy to a Model using the Band function, I get the following error:

[code]

[code]

I think it id numpy.where that is causing this, however, I also have this issue:

[code]

[2016-06-24 23:58] #9 closed

[2016-06-25 01:23] giacomov commented on #8
I added some methods to make this easier:

[code]

[2016-06-25 15:25] drJfunk commented on #9
Cool! It is working now.

[2016-06-26 06:52] drJfunk opened #10 "Multiplicative spectral components and Units"
When wanting to make multiplicative composed spectral components (e.g. Band*Exponential_Cutoff), the  overall unit also becomes the multiplication of those units. Attempting to change the normalization of the cutoff produces and error:

[code]

I'm guessing the catch is to demand spectral models have the right unit, but in this case, it is needed. Is there a feature I ma missing that allows one to

[2016-06-26 08:27] giacomov commented on #10
ah! yes, didn't think about this...

supporting unit is proving pretty difficult...

One thing I was thinking is to remove all the normalizations from the definition of the functions, so that all functions must return pure numbers (with no units). Then normalizations are added as needed. So in this case, nor Band nor Exponential_cutoff would have an explicit normalization, but astromodels would ad

[2016-06-26 09:13] drJfunk opened #11 "Bug in prior assignment"
When attempting to assign a prior the following is occurring:

[code]

I'm looking into the issue, but do not know the guts of astromodels so well.

[2016-06-26 10:06] giacomov commented on #11
That's being corrected already, upgrade to the last version 😉

-----Original Message-----
From: "J. Michael Burgess" <notifications@github.com>
Sent: ‎6/‎26/‎2016 2:13 AM
To: "giacomov/astromodels" <astromodels@noreply.github.com>
Subject: [giacomov/astromodels] Bug in prior assignment (#11)

When attempting to assign a prior the following is occurring:
comp.K_1.prior = Log_uniform_prior(lower_bou

[2016-06-26 10:37] drJfunk commented on #11
Aha. Good, it works now!

[2016-06-26 10:37] #11 closed

[2016-06-27 05:56] #8 closed

[2016-06-27 05:57] #3 closed

[2016-06-27 05:57] #2 closed

[2016-08-30 14:40] giacomov commented on #10
This is still open when combining Xspec functions, like:

[code]
This will return:

0.074909464 1 / (keV^2 cm^4 s^2)

[2016-09-01 08:34] drJfunk commented on #10
Ok. Perhaps some kind of wrapper in the plotting or table functions that recognizes an XSPEC combination and post-processes the display. This will of course be a bit of overhead. I wrote a similar function with sympy. I can have a look

[2016-09-01 09:38] giacomov commented on #10
It is more than display. I might have found a way to fix this, testing it right now...

[2016-09-02 08:21] drJfunk opened #15 "Fixing values of XSPEC function parameters"
When running the example **Joint fitting XRT and GBM data with XSPEC models**, I am no longer able to fix the values of XSPEC functions. It appears as if they are only floats and not model objects:

[code]

Result:

[code]

Note: This does not seem to affect normal astromodel models.

[2016-09-02 08:22] drJfunk commented on #15
Ah, the names have changed.... I just saw it! Sorry

[2016-09-02 08:22] #15 closed

[2016-09-02 08:48] giacomov commented on #15
yeah, I found the name _1_1 or _2_1 confusing.

Now the number is directly related to the component. So parameters of component 2 are called _2, which is more intuitive.

You can see the number of components if you call .display(), as for example:

XS_phabs{1} * Power_law{2}

[2016-09-02 09:04] giacomov opened #16 "Xspec models are regenerated every time"
At this stage Xspec models are regenerated every time astromodels is imported, which makes the import stage unnecessarily slow.

Let's change it so that the code will be generated only once, saved in the astromodels data directory (~/.astromodels/data) and then loaded from there.

[2016-09-02 09:25] drJfunk commented on #15
Cool. It is much nicer!

+++++++++++++++++++++++++++++++
J Michael Burgess
+46 72-381 30 20
jmichaelburgess@gmail.com

[2016-09-02 09:43] #16 closed

[2016-09-02 09:44] giacomov commented on #10
@drJfunk can you test your plotting routines with this new fix?

[2016-09-02 11:01] drJfunk commented on #10
@giacomov Should this also fix the XSPEC models?

[2016-09-02 11:16] drJfunk commented on #10
It seems now for models that are additive, it now makes the second model dimensionless. This results in an astropy error when trying to add together the units. From the plotting showcase example:

[code]

[code]

[2016-09-02 16:23] drJfunk commented on #10
Ok, the additive models are working again.

SpectralPlotter with astromodels *normal* models that are multiplicative is working!

Multiplicative XSPEC models are not:

[code]

Is this the expected outcome?

[2016-09-02 16:57] giacomov commented on #10
Remove from ~/.astromodels/data all the XS_*.py* files and try again. You probably have the versions of the wrapper without the recent fixes, and astromodels does not redo the wrappers if it finds them already.

It should work then (it works in the tests). Let me know!

[2016-09-21 06:52] drJfunk opened #17 "XSPEC Units in composite models"
After doing a clean install of astromodels, I'm having an issue with passing multiplicative models to 3ML's Model class. From the 3ML joint XRT demo:

[code]

![screenshot 2016-09-21 08 51 30](https://cloud.githubusercontent.com/assets/6764007/18700634/9ff0e8d2-7fd8-11e6-9c7c-bfb5de833f62.png)

[code]

Output:

[code]

[2016-10-20 14:53] giacomov commented on #17
Fixed in current master

[2016-10-20 14:53] #17 closed

[2016-10-20 14:54] #10 closed

[2016-11-01 17:14] drJfunk opened #20 "XSPEC models and astromodels import in threeML import"
When loading 3ML with HEASOFT initialized, a crash occurs:

[code]

[code]

[2016-11-01 17:46] giacomov commented on #20
This looks strange. The message is just a warning, it shouldn't cause a crash. Do you have a warnings.simple_filter active?

Moreover, I cannot reproduce the problem on my installation. Did you update Xspec/heasoft recently?

Try and remove all the XS_* files in ~/.astromodels/data and try again.

[2016-11-01 22:08] drJfunk commented on #20
That was it. Doh!

[2016-11-01 22:08] #20 closed

[2016-11-14 21:50] physics-andrea opened #23 "update SciPy requirement to 0.14 or higher"
Please update the version of SciPy needed to 0.14 or higher.  This is required for the grid interpolator in the DM Spectra (RegularGridInterpolator)

[2016-11-16 21:52] zhoouhaoo opened #24 "Negative flux in pixel not allowed in extended sources"
L182 in sources/extended_sources.py, "return np.maximum(result, 1e-60)", sets the flux in a pixel to almost 0 when it is negative. It caused the problem Andrea saw, i.e. all same logL when flux <=0, which may skew the uncertainty calculation.

I know this is to avoid some problems with extremely small values. Can we change the requirement on absolute values? For example, "return np.maximum(result,

[2016-11-16 22:14] giacomov commented on #24
good catch!

When I coded this I assumed we were never going to use "negative sources". I am more for removing that line altogether and just return the "result" array as is.

[2016-11-17 16:33] physics-andrea commented on #24
I switch that line to "return result" as suggested by Giacomo and that seems to fix the profile logLikelihood.

We'll want the option to go negative for dark matter searches since often the background in the ROI has a negative fluctuation and its useful to be able to allow the signal piece to go negative to study systematics and get the errors correctly.

[2016-11-17 18:20] #24 closed

[2016-11-30 09:47] drJfunk opened #25 "spectrum call is failing for model with linked parameter"
I'm trying to evaluate a model where I have linked an independent parameter:

[code]

[code]

could it be a units issue?

[2016-11-30 10:08] giacomov commented on #25
No, that's not the way it works. You need to add an auxiliary
variable, instead of using link:

[code]

On Wed, Nov 30, 2016 at 1:47 AM, J. Michael Burgess
<notifications@github.com> wrote:

[2016-11-30 10:10] drJfunk commented on #25
Thanks!

Hmm. I think I'm missing something in the docs:

http://astromodels.readthedocs.io/en/latest/Model_tutorial.html#time-varying-models-and-other-independent-variables

Is this for a different purpose?

[2016-11-30 10:13] drJfunk commented on #25
Also, switching to that form results in the same error.

[2016-11-30 10:34] giacomov commented on #25
ah, you're right! The docs are right.

The error is a problem in the memoization routine (the one which maintain a cache of the latest calls to the functions for speed), it's not working for your law.

I don't understand why just looking at the code:
[code]

I mean, unique_id is explicitly a tuple, I don't understand how it can end up being a np.array...

well, it's way too late now to look into t

[2016-11-30 10:35] giacomov commented on #25
oh, btw, how is "law" defined in you example?

[2016-11-30 10:41] drJfunk commented on #25
I just used a power law. I wanted to fit in time... Our design the code to do that

Sent from my iPhone

[2016-12-02 17:24] #25 closed

[2017-01-17 14:41] fryde opened #33 "clone_model and template model"
When using the clone_model function on a template model, the following error occurs:

[code]

[2017-01-19 03:18] #33 closed

[2017-01-19 03:36] giacomov commented on #33
Thanks @fryde for reporting this.

It has been fixed now. Please let me know if you have any more trouble with this.

Cheers,

[2017-02-21 08:15] grburgess opened #34 "load analysis results from table model"
I'm attempting to load analysis results saved to disk from a fit with a template model.

I get the following error:

[code]
I've attached the analysis results, but the template is too large, so I have stored it in dropbox: https://www.dropbox.com/s/l964mncqpm8vcm7/synchrotron.h5?dl=0

[2017-02-21 08:16] grburgess commented on #34
[test_fit.fit.zip](https://github.com/giacomov/astromodels/files/789450/test_fit.fit.zip)

[2017-02-21 15:38] grburgess opened #35 "pickle and table models"
possibly related to #34, it seems that parallel operations do not work with table models because they cannot be pickled. Is this expected?

[2017-03-06 06:26] #1 closed

[2017-03-07 16:36] grburgess opened #36 "ModelParser fails on sky position prior"
I have defined a uniform prior for the sky position in a plugin:

[code]

After performing a JL fit, when the model is cloned I get the following error:

[code]

[2017-03-07 16:38] giacomov commented on #36
thanks for reporting this, and sorry for the issue.

Let me look into it.

[2017-03-08 00:39] #36 closed

[2017-03-08 09:27] grburgess commented on #36
perfect!

[2017-03-20 22:30] henrikef opened #38 "OrderedDict(('ra', self.ra), ('dec', self.dec)) in astromodels/core/sky_direction"
I'm trying to get Fermi-LAT analysis working with 3ML. When I run the test script from the 3ML repository (3ML/threeML/test/test_FermipyLike.py), it fails at the fit() command. The error messages boil down to a problem with the "OrderedDict"s in astromodels/core/sky_direction, see the last lines of the error messages below.

Shouldn't it be

    return collections.OrderedDict([('l', self.l), ('b',

[2017-03-20 23:16] giacomov commented on #38
@henrikef I had fixed this already, but didn't commit it because I was testing it with other things. I have now committed my change to this file, so it should solve your problem.

Thanks for reporting it!

[2017-03-20 23:17] giacomov commented on #35
This should be solved now, with the new C/C++ Node interface.

[2017-03-20 23:17] #35 closed

[2017-03-20 23:17] #5 closed

[2017-03-21 02:17] henrikef commented on #38
Thanks!

However, after updating, I now get a segmentation fault when I try to import astromodels or threeML. I even set up a fresh install but still no luck. Any ideas?

[code]

[2017-03-21 17:53] giacomov commented on #38
ok, that is weird.

What is your operating system/architecture?

If you have the gdb debugger installed, please run the following:

[code]

and post here the trace after you get the segfault. It should help me understand what is happening, since I cannot reproduce your issue on my system.

[2017-03-22 23:17] #38 closed

[2017-03-23 15:46] grburgess opened #39 "XSPEC model not working"
It seems the XS_zdust is only outputting '1':

[code]

the output is always 1

[2017-03-23 16:29] giacomov commented on #39
Hi,
the xspec manual says:

[code]

I can verify that this is indeed the case:

[code]

So it seems that the model is working as expected...

[2017-03-27 13:24] giacomov commented on #39
This has been fixed now

[2017-03-27 13:24] #39 closed

[2017-03-28 13:11] #34 closed

[2017-04-20 22:01] #23 closed

[2017-07-21 21:07] volodymyrss opened #48 ""The name for the node cannot be longer than 2 characters""
"The name for the node cannot be longer than 2 characters", the NAME_MAXLENGTH is just added to a string.

[2017-07-21 23:57] #48 closed

[2017-07-21 23:57] giacomov commented on #48
Good catch. I fixed it:

[code]

[2017-07-25 08:19] volodymyrss opened #49 "misleading exception when node name starts with number"
Just a minor thing, the reason is clear:

[code]

[code]

[2017-07-30 00:02] grburgess opened #50 "order of operations"
I found an issue with subtraction:

[code]
output:

[code]

and:

[code]

It seems the order of operations is not respected

[2017-08-03 23:19] #49 closed

[2017-08-03 23:24] #50 closed

[2017-08-04 07:33] volodymyrss commented on #49
"You can only use letters and numbers" for "1node1" is misleading, it should say something like "must be valid python identifier" maybe?

[2017-08-04 09:25] grburgess commented on #50
Thanks!

[2017-08-15 18:41] sybenzvi opened #52 "are fits with Log_parabola broken?"
Several of us have noticed that fits to point sources with LiFF+3ML appear to be having trouble with the Log_parabola model. The fits tend to be unstable and we find that in the case where there is no curvature the model does not reduce to a simple power law. The TS is also lower for Log_parabola than for powerlaw, which should not generally occur since the extra DoF should make Log_parabola a "be

[2017-09-11 19:00] rjlauer opened #56 "Broken function names in Model_tutorial.ipynb"
In Model_tutorial.ipynb, the `Powerlaw()` class is called as `powerlaw()`, thus failing. I was about to replace each of these calls and commit, but then saw that also functions are called that I couldn't find at all anymore in astromodels, like `bias()` and `line()`. This should be fixed to make the tutorial useful. I can help, if someone points me to the new equivalents of those functions.

[2017-10-08 18:56] hayalaso opened #59 "Latitude_galactic_diffuse"
This is a function in functions_2D.py
When getting the boundaries, it seems like line 84 has an error.
max_b = self.sigma_b.max_value -> max_b = self.sigma_b.value.
At least that way I was able to test the code.

[2017-10-08 19:23] #59 closed

[2017-10-13 21:29] giacomov commented on #52
This is solved now.

[2017-10-13 21:29] #52 closed

[2017-11-07 09:00] grburgess opened #60 "Functions list in the docs"
Would it be possible to have an auto-updating functions list somewhere in the online documentation? This would provide a reference similar to XSPEC's online function docs.

[2018-03-12 23:58] cbrisboi opened #63 "log parabola peak energy fix"
in astromodels/functions/functions.py
the peak energy 10**(argument) is off by a factor of ln(10). On line 1511,

should be

[2018-03-13 01:02] giacomov commented on #63
good catch! We changed a while back from log10 to log, but we didn't update the peak energy expression.

[2018-03-13 01:04] #63 closed

[2018-03-19 22:24] JohannesBuchner opened #64 "with xspec + python3 installation fails"
I suspect this is a python 3 issue. module init functions are called differently now. Might be solvable with an #ifdef
see here: https://docs.python.org/3/howto/cporting.html

[code]

[2018-03-22 18:44] JohannesBuchner opened #65 "Python2 installation issue with numdifftools"
Probably not a astromodels issue, but with numdifftools:
[code]
This was run on 33a71e1a6318e4191975e7ac228f0f9ac2d26524

[2018-03-22 18:47] JohannesBuchner commented on #65
Seems to be related: https://github.com/blue-yonder/pyscaffold/issues/136

[2018-03-22 18:57] JohannesBuchner commented on #65
Solved it by running

`$ pip2 install . --user`

and, before that, `pip2 install pyscaffold==2.5.7 --user`

[2018-03-22 18:57] #65 closed

[2018-04-23 14:25] cbrisboi opened #66 "Gaussian Prior minimum hardcoded Crash"
I'm trying to test a Gaussian prior for the flux. Here is the traceback. The minimum seems to be hardcoded in priors.py as 1e-12

Looking at my model:
`source_name = "Crab"
crab_ra  = 83.63
crab_dec = 22.01

from astromodels.functions.priors import Gaussian as GP
spectrum=threeML.Powerlaw()
source1=threeML.PointSource(name, ra=crab_ra, dec=crab_dec, spectral_shape=spectrum)

spectrum.index.value

[2018-04-25 01:51] cbrisboi commented on #66
Found the issue. As we talked on slack, being 100 sigma away from mu might cause problems...

Thanks!

[2018-04-25 01:51] #66 closed

[2018-04-25 20:00] cbrisboi opened #67 "Log Normal prior Negative values"
The log_normal distribution in `priors.py` lets negative values get evaluated in the np.log() function.
Despite adding bounds to a parameter in the model specification, emcee kinda does its own thing and tries negative flux values when the prior is non-zero. The prior for a log normal then returns -np.inf. Naively to me, the behavior should be that for negative x the log_normal distribution would

[2018-04-25 20:12] henrikef commented on #67
It actually returns `np.nan` , which causes problems later on (emcee assumes that unless the prior is `0`, the value is technically allowed, and tries to set the parameter to that value. That can lead it to try to set e.g.  the normalization constant of a power law to a negative value, which causes problems due to the internal log transform.

[2018-04-25 20:27] henrikef opened #68 "units in log_normal prior"
Hi!

I intentionally kept this separate from #67 since  this is less of a problem, just something that could be more user-friendly.

Currently, the log_normal prior is defined as follows (some spaces removed for brevity):

[code]

Here, `mu` is forced to be unitless.  If `x` carries units, e.g. a flux norm or a cutoff energy, the user has to keep track of what units will be used internally for tha

[2018-04-25 21:06] cbrisboi commented on #68
One way to Combine #67 and this would be to do it this way. We still need to ensure the units are accounted for, which is why I hope checking the units for x/M are dimensionless is correct
`def evaluate(self, x, F, mu, sigma):
        x_=x/M
        if x_.unit != astropy_units.dimensionless_unscaled:
            #error of some sort

        if x_ <=0 or x <=0:
            return 0
        norm = s

[2018-04-25 21:39] #67 closed

[2018-04-25 21:39] giacomov commented on #67
I fixed this and closed the issue. Please reopen if you have further problem.

[2018-04-25 21:40] giacomov commented on #68
I actually added a pivot so that all units are preserved. Now `sigma` and `mu` have the same unit as `x`.

Let me know if this fixes your problem, and if it does please close the issue.

[2018-04-26 00:12] henrikef commented on #68
Thanks!

in `from_unit_cube(self, x)`, shouldn't we also have to divide by the pivot? Since `res = mu + sigma * sqrt_two * erfcinv(2 * (1 - x))` can potentially have units now?

[2018-04-26 00:16] giacomov commented on #68
`from_unit_cube` is called by Multinest, not by the user, so the call will never have units.

However, as it is now, if for some weird reason the user changes the value of the pivot then the `from_unit_cube` call will use a different distribution than the normal `evaluate` function, so I guess dividing there by `piv` might be a good idea. If you wanna change that, go ahead!

[2018-06-14 17:58] henrikef opened #69 "memoization and SpatialTemplate_2D"
Hi!

I've been tracking down a bug with `SpatialTemplate_2D` and I think I finally understand what's happening.

`SpatialTemplate_2D` is a 2D function that reads in a map from a fits file and reports its value at a given set of coordinates. The only free parameters is a normalizing constant K, which is usually fixed to 1 if we're fitting a spectrum in 3ML.

The problem occurs if I want to have 2 o

[2018-06-14 18:23] giacomov commented on #69
thanks for tracking this down.

The memoization can be disabled temporarily using the `use_astromodels_memoization(False)` context manager, for example:

[code]

However, I am not sure this is what we wanna do here, because for things like 2d templates memoization can save a huge amount of time.

One solution would be to introduce a fixed `hash` parameter and compute a hash for the content of the

[2018-06-14 19:28] henrikef commented on #69
Thanks! I was looking into using a hash of the file name somehow, but I've changed it now to use the np array plus the coordinate system. Seems to be working now. I set it to calculate the hash after loading the template from a fits file in case anyone ever wants to re-use the same object with a different template.

[2018-06-25 17:10] #69 closed

[2018-07-09 12:52] ssteinmassl opened #72 "linking more than two parameters"
Hi,
is it possible to link more than two parameters in the Model.link() function at the same time other than linking them recursively? I would actually like to link 7 parameters to be linked such that they have the same value.

Cheers
Simon

[2018-07-10 17:04] ssteinmassl opened #73 "Several Templates at once"
Hi,
I am running into issues while loading several template models at once. when trying to plot them with a looping function for a given parameter set some of them seem to adapt values from other template models before them in the loop. Unfortunately there does not seem to be a regularity when this happens or not. So sometimes even rerunning the same script yields different results. Further if I j

[2018-07-11 00:55] giacomov commented on #73
I am investigating this and I am pretty positive this is related to the memoization function.

While I find a fix, you can use the following workaround:

[code]
which deactivate temporarily the memoization functionality.

[2018-07-11 01:00] giacomov commented on #72
At the moment this is not possible. You need to loop over them, much like you would do in other software like `Xspec`.

The functionality you suggest would be useful though. If you want to submit a pull request, I'd be glad to accept it.

It is just a matter of changing this method to accept as parameter_2 a list of parameters as well as just one:

https://github.com/giacomov/astromodels/blob/1730

[2018-07-11 15:17] grburgess commented on #72
@ssteinmassl would be cool if you can try to write this!

[2018-07-11 20:46] ssteinmassl commented on #72
yep will do!

[2018-07-17 08:06] #72 closed

[2018-07-22 13:35] grburgess opened #78 "polarization node"
I'm working to add the polarization nodes into the model. However, it is currently added through a *SpectralComponent* and thus, if you want to access the polarization of a source, you need to know the name of the spectral component directly.

Should we add a method to access the polarizations at a higher level in the tree?

[2018-07-22 18:54] grburgess commented on #78
@giacomov additionally... is there any reason why the results table at the end of a fit would fail if there are no spectral parameters free?

[2018-07-25 05:39] grburgess opened #80 "Linking two nuisance parameters crashes ModelParser via clone_model"
It seems that linking two nuisance parameters is confusing the model parser:
[code]

I am investigating and will try to provide a fix in a few hours.

[2018-08-01 14:35] ssteinmassl opened #82 "reloading of model with recursively linked parameters failed"
Hi,
I have been working with a model, in which I linked two parameters with a StepFunction(). I then linked the StepFunction.lower_ bound to another parameter. Doing BayesianAnalysis.sample(...) it would then fail after the sampling when trying to clone the model. Saving the model and trying to reload it would obviously give a similar error message. Is there any good solution for that?

`---------

[2018-08-01 21:15] giacomov commented on #82
@ssteinmassl can you attach here the file "my_modelRim.yml"?

[2018-08-02 09:28] ssteinmassl commented on #82
[my_modelRim.yml.zip](https://github.com/giacomov/astromodels/files/2252895/my_modelRim.yml.zip)

[2018-08-02 09:32] ssteinmassl commented on #82
The setup of my model
`my_model = Model(PointSdict['ps_g'],PointSdict['ps_r']
                 ,PointSdict['ps_i'],PointSdict['ps_z']
                 ,PointSdict['ps_J'],PointSdict['ps_H'],PointSdict['ps_K'])`
The links where the origin for the reloading/cloning problem is:
`# PENALTY DSIZE FUNCTION

DSlinc = StepFunction()
DSlinc.upper_bound = 1
DSlinc.upper_bound.fix = True
DSlinc.value = 1
DSl

[2018-08-02 10:15] #78 closed

[2018-09-11 20:43] henrikef opened #84 "Calling 2D functions with units?"
Hi!

I'm trying to write tests for 2D functions/extended sources. While writing the tests, I  noticed that there are several 2D functions (`Asymm_Gaussian_on_sphere()`, `Ellipse_on_sphere()`, `Power_law_on_sphere()`) that cannot be called with units because the `evaluate` functions implicitly assume that the coordinates are supplied without units. For example these lines  in `functions_2D.py`:

``

[2018-12-10 20:45] henrikef opened #87 "Linked spatial parameters and cloning a model"
See https://github.com/giacomov/astromodels/pull/86#issuecomment-445961036

Here's an example that shows what's going on with the current master... A model with 2 extended sources, 4 free parameters and 2 linked parameters. After cloning or reading from yml, `S2.Gaussian_on_sphere.sigma` is fixed to 0.5 (default value) instead of being linked to `S1.Gaussian_on_sphere.sigma`. The index is fine (st

[2018-12-21 07:51] cdeil opened #88 "Parameter class docstring formatting"
There's a Sphinx formatting error in the Parameter class docstring:
https://astromodels.readthedocs.io/en/latest/api/astromodels.core.html#astromodels.core.parameter.Parameter

The issue seems to be that the newline in the description of the `transformation` parameter isn't handled correctly:
https://github.com/giacomov/astromodels/blob/f8741ff9386409dbf30868665a9e3186185cbcbc/astromodels/core/par

[2018-12-21 17:36] #88 closed

[2018-12-21 17:36] giacomov commented on #88
Thanks for spotting this! I fixed it.

The format of the doc is the reStructuredText format, which is the default in many tools (like for example PyCharm).

[2018-12-21 19:35] cdeil commented on #88
Thanks!

[2019-01-15 19:26] grburgess opened #89 "push access"
I'm not able to push to a branch I created locally. It seems I do not have push access. Is this expected?

[2019-01-27 18:57] #89 closed

[2019-03-12 14:36] hayalaso opened #92 "Min and max values don't seem to get the unit conversion"
I noticed that when trying to define the `min_value` and `max_value` when defining a powerlaw spectrum don't get the unit conversion. For example, if I write my spectrum like:

[code]

I get the following error: `Trying to set parameter K_1 = 1e-20, which is less than the minimum allowed 1e-14`. So the value got converted to units of `keV s cm-2` but the minimum didn't.

For the `max_value`, I als

[2019-03-13 18:45] grburgess commented on #92
Interesting. I'll have a look at the property that sets this. Likely when the unit is changed it does not reset the bounds. But this might make sense because of other parameters that may depend on the units in a non-linear way. We would have to do some pretty special checking to convert all the bounds.

[2019-03-14 09:53] grburgess opened #95 "Python3"
Discussing with @volodymyrss , we need to have the ability to run with python3 or some people are moving to xspec in their notebooks. I remember from ou=r meeting with @giacomov  that there was something left to do in the astromodels c-implementation. What was that and what can we do to have this python3 ready when not using the fermi tools?

[2019-03-14 13:21] grburgess opened #96 "XSPEC failing"
It seems the newer version of XSPEC has removed some models which are hardcoded into our interface.

The first that fails is: xsgsmt

This was in an older XSPEC but is now gone. I do not see any exception catching that avoids compiling a model that is not there. I would not want to remove this as older XSPEC will not work. Can someone test that it is not just a problem with my setup?

[2019-03-14 15:39] grburgess commented on #96
Ok. I've looked at the sherpa _xspec.cc and seen that they have a newer version which has clauses for different XSPEC versions. If I remember correctly, this is what @giacomov modeled his version on.

Now, I also remember that we made some changes to deal with strange things (evaluating the model as an integral over energy vs at the energy). Should we just swap this file for the one we have?

[2019-03-14 15:48] giacomov commented on #96
You can try to do that, the tests should tell you if that breaks things

[2019-03-15 08:31] grburgess commented on #96
Ok. Looking at the new sherpa build. The user is responsible for building the XSPEC models after installing. This allows the specifying of the version number. Yes, this puts a lot more and the user... but I think this is nice idea

[2019-03-15 15:21] grburgess commented on #96
Ok. I have it working... mostly. There is an addition requirement in the install of XSPEC where newer version requires us to set an env. variable XSPEC_VERSION=12.10.1 for example. This allows the compile step to implement the proper models.

We need to put this into the documentation... somewhere.

[2019-03-15 15:49] giacomov commented on #96
great!
I think there should be a default value of that variable for the version
that is implemented in the xspec-modelsonly package. That way our conda
customers (which are most of the people) won't need to do anything specific.

On Fri, Mar 15, 2019 at 8:21 AM J. Michael Burgess <notifications@github.com>
wrote:

[2019-03-17 16:10] grburgess commented on #96
I'm currently stuck. The new version segfaults when calling any of the functions and I can't figure out where.

[2019-03-20 18:25] henrikef opened #97 "pyyaml 5.1"
Some people have reported issues using the new version of pyyaml (5.1).

There are warnings like

[code]

The code runs, but there are issues with parsing functions/loading models from file, leading to errors like

[code]
or
[code]
during the tests.

Again, the underlying issues is changes in pyyaml, which break parsing of yml files in astromodels. See also https://github.com/yaml/pyyaml/issues/26

[2019-03-20 18:25] henrikef commented on #97
@cdr397

[2019-03-21 17:41] cbrisboi opened #98 "Latitude_galactic_diffuse broken"
Problem in Latitude_galactic_diffuse when using hawc_hal, astromodels functions should be plugin agnostic. Still working on a full description @zhoouhaoo suggested it may be related to get_boundaries().

For my analysis, the fit **only** converges when both K(shape) and K(flux norm) is fit for the galactic diffuse. After talking to people, only 1 of these should be fit.

[2019-03-23 11:41] grburgess commented on #97
Hi! I've made the changes in the setup and this indeed solved the problem. However, I'm making that change in my branch for fixing the builds and there is still a weird issue with the conda builds for OSX. I'll keep working at it over the weekend.

[2019-03-26 02:41] henrikef commented on #98
Tracked down why parameters with the same name are a problem for hawc_hal, see https://github.com/threeML/astromodels/pull/99#issuecomment-476450957 (actually should have replied here rather than in the pull request).

[2019-03-29 16:15] grburgess commented on #98
Solved by @henrikef  via #100

[2019-03-29 16:15] #98 closed

[2019-03-29 16:16] grburgess commented on #97
solved

[2019-03-29 16:16] #97 closed

[2019-03-29 18:07] henrikef commented on #97
Was the solution to this just downgrading to pyyaml 3.13? If that's the case, I would think that eventually we'll need to update our code to work with the new yaml loaders. Or has that been done already?

[2019-04-08 11:50] grburgess commented on #73
Is this issue solved or still active?

[2019-04-08 11:51] grburgess commented on #82
Is this issue solved or still active?

[2019-04-08 14:44] giacomov commented on #73
I am pretty sure this has been solved.

[2019-04-08 15:05] #73 closed

[2019-10-15 01:05] ndilalla opened #108 "Failed to import XSPEC on 0.5.491"
Fresh install of the latest version of the master. If I try to import `astromodels.xspec` I got the following error:
``
ValueError: Hard maximum (10.) < hard minimum (2)
``
that is clearly wrong. For some reason the type of the two variables is `<type'str'> ` so maybe we can't just directly compare them as we do.

[2019-10-24 15:24] hayalaso opened #109 "Constant Function returns only one number"
The constant function just returns one number, even if you have an array of energies.

Possible solution:
[code]

[2019-10-24 19:08] grburgess commented on #109
hmm. @giacomov is this not the intended result?

[2019-10-24 19:12] giacomov commented on #109
Nope.  A constant function should return that constant no matter what energy is asked for. But if x is a vector of 100 energies, you should get back a vector of size 100 all with the same value (the constant).

```f(1.0) -> c``` but also ```f([1.0, 2.0, 3.0]) -> [c, c, c]```

[2019-10-24 19:13] grburgess commented on #109
@hayalaso can you fix and make a PR?

[2020-03-06 03:38] henrikef opened #113 "extra_setup dictionary lost for composite functions"
Certain functions have properties that cannot be expressed as numeric parameters, e.g. the particle distribution of a synchrotron spectrum. These extra properties are saved to a special dictionary, `extra_setup`, during pickling etc., so they can be parsed back again later. This does not seem to work for composite functions, see example below (needs `naima`). This means that models containing comp

[2020-03-06 03:47] henrikef opened #114 "EBLattenuation: EBL model not retained during copying etc."
https://github.com/threeML/astromodels/blob/e79942f835ee50b8b086bfde2af1dc2e4fd4fbe6/astromodels/functions/functions.py#L1650

The EBLattenuation class does not retain the user's choice of EBL attenuation model when being copied or saved to file. Instead, after a model containing a source with EBL attenuation is copied or saved to disk and reloaded, it always defaults to the Dominguez attenuation

[2020-05-01 05:26] grburgess commented on #114
Hi, we have the same problem with the the phabs style models. I'm not sure there is a clever solution without rewriting the model class at a deep level. One could make this a parameter and keep it fixed, but this would really screw up things if it was accidentally freed.

I think the same would happen in XSPEC with abundances.

Perhaps it is best to just have a setting int he script?

[2020-05-01 05:27] #56 closed

[2020-05-01 05:27] #60 closed

[2020-05-01 05:28] grburgess commented on #64
This should be solved now. Many years later.

[2020-05-01 05:28] #64 closed

[2020-05-01 05:28] #95 closed

[2020-05-01 05:28] #96 closed

[2020-05-01 05:29] #82 closed

[2020-05-01 05:29] #108 closed

[2020-05-01 05:30] grburgess commented on #113
Perhaps we can all have a meeting on this to discuss the best way to handle this as it seems to be a recurring issue @henrikef ?

[2020-05-05 21:01] henrikef commented on #114
I think resetting it in the script each time is what Mateo (who originally found this problem) ended up doing. The thing is that for some of us on HAWC, our workflows/example scripts rely a lot on models being copied or saved to file.  E.g. run a bunch of fits (different models, or different detector response files or whatever) on a cluster, save the results to fits, then have a separate script re

[2020-05-05 21:40] mateofa commented on #114
I agree with Henrike, resetting it in the script wouldn't be practical and prone to mistakes. I remember dealing with the _setup definition, where a default model is required. My first try was to see if I could get things running without the default model being defined, or alternatively plugging in the desired model as a default... no success.
Actually, it might be a good idea to separate classes

[2020-05-11 13:51] mateofa commented on #114
I'm going to start preparing that work-around, since it's something I can handle. I'll report to this thread as soon as I have a working script.

[2020-05-11 18:56] grburgess commented on #114
Thanks! Yeah, the only other solution at the moment would probably need some very low level tinkering. Perhaps we can meet Wednesday on zoom and discuss in more detail?

[2020-05-11 18:58] henrikef commented on #114
I forgot, when do you usually have the zoom call? I can try to call in, I've been a bit busy with calls lately 📞

[2020-05-11 18:59] grburgess commented on #114
Usually on Wednesday U.S. morning times.

[2020-05-12 13:20] mateofa commented on #114
Hello,

I could make it Wednesday morning, what time and platform (zoom, uber_conf)?

Cheers,

Mateo

----------------------------------------------------------------------------------------------------------------------
Mateo Fernández Alonso
Postdoctoral Scholar
Pennsylvania State University
Tel: +1 (814) 996-9015
Mail:  mkf5479@psu.edu
________________________________
From: J. Michael Burgess <

[2020-08-19 18:53] omodei opened #127 "Add ebltable to the installation"
Add ebltable to the list of packages to be installed

[2020-08-19 19:24] ndilalla opened #128 "Test error with pandas 1.1.0"
Astromodels seems to be not compatible with the last version of `pandas` (1.1.0) released few weeks ago. This is the detail of the `test_template_factory_1D` failure:
[code]

[2020-08-19 19:25] ndilalla commented on #128
For the moment, as a workaround, I am pinning the `pandas` version `< 1.1`

[2020-08-27 08:48] grburgess commented on #128
fixed in #129

[2020-08-27 08:48] #128 closed

[2020-10-03 03:46] torresramiro350 opened #130 "Issue with LogL values changing for different parameter values using JointLikelihood"
I tried to develop a morphology lookup table very similar to `template_model.py`. In my case, I adapted the template model to read in FITS files to build a data frame of flux values that is multi-index by morphology parameters and information of energy, RA, and Dec. I first interpolate over the morphology parameters and then over energy, RA, and dec. The full program is here:

My problem comes to

[2020-10-03 03:55] henrikef commented on #130
Hi Ramiro, I think it would be helpful if you included the full function definition here.

[2020-10-03 04:04] henrikef commented on #130
Btw, were you able to verify in the mean time that your function does what you want it to do? I would start with that before trying to fit anything

First step could be to just verify the function values (define a source with this morphology, set the parameters, print the values at a few different energies/positions, change the parameter(s), print again etc).

Next step could be to make model maps

[2020-10-07 22:37] henrikef opened #131 "pyyaml version pinning leads to conflic with fermipy"
We require pyyaml version 3.13:

https://github.com/threeML/astromodels/blob/3a02b82732ae45b6d9d2720d13704718c10e530f/setup.cfg#L38

See https://github.com/threeML/astromodels/issues/97 for why things break with newer versions of pyyaml.

Unfortunately, fermipy requires gammapy, which has required pyyaml >=5.1 for about a year now (and I believe that newer versions of fermipy are incompatible with

[2020-10-07 23:05] ndilalla commented on #131
Hi @henrikef! Yes, I am working on this on the development branch for the new fermitools and root6. Astromodels is ready to work with newer pyyaml while in threeML I am still having some issues with the YAML loader that is deprecated in pyyaml 5.1. So we will need to change a bit our code according to this:
https://github.com/yaml/pyyaml/wiki/PyYAML-yaml.load(input)-Deprecation

[2020-10-07 23:07] henrikef commented on #131
Awesome! Let me know if you need any help or would like me to test anything.

[2020-10-13 15:10] grburgess commented on #131
I noticed when I tried to modify to the forward version pyyaml that the safe loader was not compatible with our model structure. Is that still the case?

[2020-10-13 15:20] henrikef commented on #131
What about the "FullLoader" or "UnsafeLoader" though?

[2020-10-13 15:27] grburgess commented on #131
@henrikef I think I tried that.. but I cannot remember. @ndilalla how did you get it to work?

[2020-10-13 16:17] henrikef commented on #131
Is there a problem requiring a newer version of pyaml? I vote for no backward compatibility.

[2020-10-13 16:18] grburgess commented on #131
I second :)

[2020-10-13 16:22] ndilalla commented on #131
No, no problems. We just need to require pyyaml >= 5.1 in the dependency list. I'll go for it.

[2020-10-13 18:05] ndilalla commented on #131
I don't why the stupid conda continues to put pyyaml==3.13 as requirement even if I've put pyyaml>=5.1 in the meta and setup files! This is crazy...

[2020-10-13 18:56] ndilalla commented on #131
Okay, it should be fixed now.

[2020-10-15 21:48] #131 closed

[2020-10-26 10:19] asattools opened #133 "Problem from astromodels while installing pynchrotron"
Hi,

I have installed fermitools (python 3.7) and threeML successfully. I am trying to installed pynchrotron and a problem which might be due to astromodels (https://github.com/grburgess/pynchrotron/issues/1) is occuring (pytables). Please suggest a solution to this.

Regards and thanks.

[2020-10-26 10:21] grburgess commented on #133
It seems pytables is no longer on pip? I'm not even sure if we are using pytables anymore, so I've got a branch building on the CI server to see if that fixes the issue.

[2020-10-26 10:26] asattools commented on #133
Yes,
There is installation instruction in pip for pytables https://pypi.org/project/pytable/
and it is there in conda-forge also conda install -c conda-forge pytables

[2020-10-27 02:38] ndilalla commented on #133
Thanks @asattools for reporting this issue. We discovered that the conda package `pytables` is simply named `tables` on pip (the package you linked above named `pytable` is a different thing). The fix is ready to be merged and will be shipped with the v2.0.1.

[2020-10-27 05:29] asattools commented on #133
Thanks, I shall be waiting for the new version.

[2020-10-27 08:11] grburgess commented on #133
@ndilalla thanks!

[2020-10-27 16:51] #133 closed

[2020-12-03 09:41] JohannesBuchner opened #136 "pip install fails: "xsFortran.h: no such file or directory""
I tried to install threeML, but astromodels failed. I think it tried to use the xspec installation from my home directory -- is it looking for the source files?

This is on Ubuntu Linux 20.04, Python 3.8.5, no python environments.

[code]

[2020-12-03 09:54] grburgess commented on #136
It will detected if the HEADAS environment variable is set and then tries to load the library with ctypes. I think we need to print out more debug info when this fails and escape the failure.

Temporary solutions:

- unset HEADAS and it will install without XSPEC
- the conda install will automatically include XSPEC

you can also clone and try to print out some info from he setup file looking here:

[2020-12-03 09:58] JohannesBuchner commented on #136
build_ext does not sound like ctypes, more like it is trying to compile astromodels/xspec/src/_xspec.cc against xspec headers.

[2020-12-03 10:11] grburgess commented on #136
I think the issue is that it finds the libs, but we currently assume the headers are in a normal place. I'm cooking up a solution now.

[2020-12-03 10:47] grburgess commented on #136
@JohannesBuchner Ok, I believe the issues is fixed in #137
If you checkout this branch (xspec_setup) and install manually, it should go smoothly.

@ndilalla can we speed release this one as it can easily break pip install?

[2020-12-03 22:18] #136 closed

[2021-01-02 10:50] #109 closed

[2021-01-06 02:31] #127 closed

[2021-01-06 02:31] #84 closed

[2021-01-06 02:31] #87 closed

[2021-01-06 02:31] #68 closed

[2021-02-18 22:50] henrikef opened #144 "model.display() weirdness"
Minor issue, but `model.display()` by default displays small flux values as 0 instead of switching to scientific notation. I thought I could fix that in the general display options for data frames, but that leads to trailing zeroes in the exponent being cut off (see below). Any ideas if this is a bug in pandas or astromodels?

Example:

[code]
Relevant parts of the output:

First display (note tha

[2021-03-11 00:56] omodei commented on #144
I have tracked down the problem to be a pandas issue:
Example:
`from collections import OrderedDict
import pandas as pd
pd.options.display.float_format = '{:.6g}'.format

my_dictionary = {'Pippo': {'value':1.4e-10,'toto':1e-20,'gigi':2}}
df = pd.DataFrame.from_dict(my_dictionary)
print (df)

my_dictionary = {'Pippo': {'value':1.4e-10,'toto':1e-20,'gigi':'2'}}
df = pd.DataFrame.from_dict(my_diction

[2021-03-11 01:13] henrikef commented on #144
https://github.com/pandas-dev/pandas/issues

They only have 3529 open issues right now 😭

[2021-04-20 22:15] henrikef opened #149 "Powerlaw_flux bug?"
In powerlaw_flux, it looks like we're multiplying by the flux norm twice. I assume that's unintended, right? (Sorry, should have noticed that during the code review).

https://github.com/threeML/astromodels/blob/ff8c0759739a8ea9781145bc8c817855e6f66a9c/astromodels/functions/powerlaws.py#L184

https://github.com/threeML/astromodels/blob/ff8c0759739a8ea9781145bc8c817855e6f66a9c/astromodels/functions

[2021-04-21 09:14] grburgess commented on #149
fixed in #150

[2021-04-21 09:14] #149 closed

[2021-04-25 02:33] #144 closed

[2021-05-12 04:19] domeckert opened #152 "Xsect data not downloaded when installing with pip"
Hi everyone,

I upgraded my install of 3ml/astromodels with pip and found out when trying to load the PhAbs model that the cross section data was inaccessible. The corresponding folder was absent.

I believe this can be fixed easily by adding the data/xsect directory to MANIFEST.in

Cheers
Dominique

[2021-05-12 08:35] grburgess commented on #152
@domeckert I see what the issue is. Will fix this afternoon.

[2021-05-13 09:43] grburgess commented on #152
@domeckert this should be fixed now, but will need to wait until the next release before it is up on pypi

[2021-05-23 18:23] grburgess opened #154 "memory leak when loading many table models"
The pandas HDF5 store format and interpolators are not being taken out of memory upon repeated creation of table models. This causes the memory to explode when using many table models.

[2021-05-28 17:44] henrikef commented on #113
Sounds cleaner than the current thing with `extra_setup`. How much effort would that be?

[2021-05-28 19:04] grburgess commented on #113
I've nearly got it down. There is no effort on the user side except if you want to make complicated functions.

[2021-05-29 10:28] grburgess commented on #113
Ok. So instead of adding children to the function which would have complicated things. I've now allowed functions to have links to external functions. For example, the synchrotron functions has an electron spectrum that could be in a particle source. We do not want to add that function as a child to the synchrotron because then the function would have two parents. Rather, we can add some syntax ma

[2021-05-30 13:01] grburgess commented on #113
The issue is now solved in a branch off of native node. There is no change to the outward interface for the synchrotron function, but we now have an easier user interface for building these types of functions.

[2021-06-01 22:05] henrikef commented on #113
Ok, great! What about cases where the extra data is a string and not another node in the model? For example, [SpatialTemplate_2D](https://github.com/threeML/astromodels/blob/master/astromodels/functions/functions_2D.py#L598) or [EBLAttenuation](https://github.com/threeML/astromodels/blob/master/astromodels/functions/functions_1D/functions.py#L788) (currently not implemented, but the extra data wou

[2021-06-02 04:32] grburgess commented on #113
@henrikef I've been thinking about this some more. There was a solution offered in that issue to have multiple classes. it's likely we could adapt the extra setups as well to just handle files. OR we could add an astromodels configuration and have these set there which would mean that we do not have to store the information in the class, but the user would have to remember what they used. I'm not

[2021-06-02 17:24] henrikef commented on #113
So the extra_setup works (or used to work) for strings/filenames etc, it's not ideal though (I kind of hacked the parser, it's not very elegant). This is fine for `SpatialTemplate_2D` since that's usually used by itself.

The problem is that the entire dictionary is lost during pickling/unpickling of composite functions. E.g. if I have a `Powerlaw() * EBLattenuation()`, the dictionary wouldn't get

[2021-06-03 13:27] grburgess commented on #113
@henrikef  Ok, I found another solution to fix this that also expands the ability of the model.

I've added the ability to have "properties" as well as parameters to functions. These are specified in the yaml doc string like parameters but they take on str values:

[code]

These have some special properties.

1) The initial value can be deferred to instantiation if you need to specify a a file nam

[2021-06-04 00:50] henrikef commented on #113
Ohh, I like it! This is much nicer than the extra_setup stuff. I'll try to play around with this soon, I think this will be nice also for wrappers for other naima functions. Btw, do the parameters have to be strings or could they also be more general pickle-able python objects? I'm thinking about the [inverse Compton](https://naima.readthedocs.io/en/latest/radiative.html) model, which takes a list

[2021-06-23 11:19] grburgess commented on #154
fixed in #155

[2021-06-23 11:19] #154 closed

[2021-06-23 18:12] omodei opened #163 "Negative Flux in astromodels"
Some users asked the possibility to have negative flux when doing their analysis, but the log transformation avoids the possibility to do this. Would be nice to have a way to disable log scaling.

[2021-06-24 07:30] grburgess commented on #163
@omodei Ok, I've added the context managers and the ability to do this in the configuration.

to get an idea you can have a look at the test:

https://github.com/threeML/astromodels/blob/feature-native-node/astromodels/tests/test_parameter.py#L144

A word of caution, if someone fits with transforms and then tries to do a profile with them off... it will lead to incorrect results because the MLE po

[2021-07-13 02:09] #114 closed

[2021-07-15 02:09] #152 closed

[2021-07-19 02:10] #113 closed

[2021-08-03 13:31] rwiller opened #165 "XSPEC model comptb is missing"
The XSPEc model comptb (https://heasarc.gsfc.nasa.gov/xanadu/xspec/manual/node156.html#comptb) is not available in astromodels

[2021-08-17 13:05] grburgess commented on #165
@rwiller I have done some investigating into this. It is has something to do with how this model is wrapped in the C++

One option could be to figure out how this model is defined and create your own. I will continue to investigate.

[2021-10-07 15:32] rwiller opened #171 "Parameters of XS_ismabs"
The model XS_ismabs as build by astromodels only has 29 out of the required 31 parameters. I believ the reason is that the abundances of S II and S III are missing due to their names being taken by Si I (sii in the code) and Si II (siii). I suggest to use the name su instead of s to denote the ionization states of sulphur. Maybe consider naming silicon differently as well to avoid confusion with t

[2021-10-07 19:41] grburgess commented on #171
Thanks @rwiller I'm glad you found a work around! I think that we will wait for the newer interface to XSPEC to go online rather than looking for a fix to this. I will keep open just in case anyone else runs into the same problem . Feel free to post your workaround here if you think it would be helpful!

[2021-11-17 19:26] omodei commented on #163
Why this issue was reopened? I though you fix it.

[2021-11-17 19:27] omodei commented on #171
Can this be closed?

[2022-01-26 10:51] rwiller opened #172 "Incorrect Numba typing on some CPU architectures in template_model.py"
On some CPU architectures (i.e. my laptop with Ivy Bridge processor) the grid interpolation of a table model results in a numba typing error.
-----------------------------------------------------------------------------------------------------------------------------------------------
Traceback (most recent call last):
  File "3ML_table_XSPEC_820.py", line 184, in <module>
    best_fit_parameters,

[2022-01-26 15:16] #172 closed

[2022-06-03 10:24] ivvv opened #182 "Cannot import astromodels"
I am on ARM64, conda python 3.10 and installed `astromodels` with pip with no errors, here is a check:

[code]

When I try `import astromodels` in e.g. ipython session I see the following error:

[code]

As a result, when I try to import `threeml` it fails with the same error because of `astromodels`.

Can you please check?

[2022-06-03 10:26] grburgess commented on #182
Thanks for the issue, will have a look.

[2022-06-03 10:27] grburgess commented on #182
@ivvv Do you have pyatomdb installed?

[2022-06-03 10:45] ivvv commented on #182
I have atomdb installed, is there pyatomdb needed?

[2022-06-03 10:48] ivvv commented on #182
Tried to build and install astromodels from a cloned github repository, but this failed with a number of errors. One complication may be that there is no HEASOFT for ARM64, so I have it through homebrew and rosetta for x86_64, but I thought HEASOFT and Xspec are not needed by default, unless I want to use Xspec models.

[2022-06-03 11:01] ivvv commented on #182
Further update, I managed to install it with no errors and no problems to import atromodels and threeML, but I had to activate a virtualenv where I had python and xspec (and HEASOFT) compiled for x86_64. I am not sure if there will be a penalty on performance as running x86_64 on arm64 is through rosetta.

[2022-06-03 11:54] grburgess commented on #182
@ivvv ok, interesting. From what I know, there is no real penalty at all (some x86 instructions run faster on the arm than natively). Let me know if there are further problems.

[2022-06-03 12:09] ivvv commented on #182
Will do, for now it seems good.

[2022-06-07 14:08] ivvv commented on #182
Unfortunately I have to re-open this thicket as the problem happens in Linux too (Ubuntu).

Trying to import astromodels fails with the same error:

`ModuleNotFoundError: No module named 'astromodels.functions.apec`

Looking at the github and also in the astromodels distribution files, no sub-folder apec is to be found in functions folder.

I have ATOMDB installed and so it attempts to import from

[2022-06-07 16:23] grburgess commented on #182
Oops. That was a change over. You can make a PR if you like or we will update it in the next release.

[2022-06-13 10:00] #182 closed

[2022-07-21 01:01] henrikef opened #186 "Log transform in Powerlaw functions"
Some of the [PL functions](https://github.com/threeML/astromodels/blob/master/astromodels/functions/functions_1D/powerlaws.py) have log10 transforms on the normalization (and cutoff energy if applicable) but some don't.

E.g. `Super_cutoff_powerlaw` doesn't have it, `Cutoff_powerlaw` does. Is there any reason for this? I feel like either all normalizations should have the transform or none of them

[2022-07-21 07:14] grburgess commented on #186
@henrikef I think this was added with the idea that these help MLE find a solution quicker. I personally don't like the idea because MLE solution for the transform is not the same as the MLE solution without. But we should likely have them everywhere.

In the astromodels config, you can turn them off:

[code]

There is also a context manger:

[code]

There is also a slight speed up with them off.

[2022-07-22 19:28] henrikef commented on #186
Ok, I'll add them to the rest of the functions.

[2022-07-22 22:13] henrikef commented on #186
@grburgess is the configuration for astromodels documented somewhere? Like it is for threeML?

[2022-07-25 08:46] grburgess commented on #186
Nope... haven't gotten around to that

[2022-07-28 20:22] #186 closed

[2022-08-31 17:46] #163 closed

[2022-09-30 07:20] grburgess opened #195 "Feature request: Setup proper imports"
The way that we do ```python import *``` in both 3ML and astromodels is very bad practice as it can lead to namespace collisions. We need to eventually clean this up which will mean that we will have to fix up the docs (and our own scripts).

This will be especially important when we work with packages like `gammapy` because they may use the same model name and it could cause all kinds of strange

[2022-09-30 18:13] henrikef commented on #195
Sounds good, but wouldn't

[code]

Be less confusing?

[2022-10-01 06:44] grburgess commented on #195
The structure is probably something we should discuss, but it would also give us a chance to think about all these startup warning etc. We could make it all more local and stop freaking people out when it loads. I have some ideas, but it would be better to gather our use cases.

[2022-11-06 06:14] grburgess opened #198 "correct normalization units in APEC models"
Fix units as raised here: https://github.com/threeML/threeML/discussions/600